.navbar_main_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list_container {
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
}
.hamburger {
  display: none;
}

.list_container > p {
  margin-right: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #1c1c1c;
}
.list_container > p.arrow_down {
  margin-left: -15px;
  margin-top: 12px;
}

.logo_container {
  width: 20%;
  padding-top: 5px;
  margin-right: 30px;
  margin-left: 120px;
}
.logo_mini {
  position: relative;
  margin-right: 70px;
}

.list_signup {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: 6px;
}
.signup_container > p {
  margin-right: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #1c1c1c;
  text-align: justify;
}

.signup_container > p.register {
  border-radius: 8px;
  border: 1px;
  color: #ececee;
  padding: 10px;
  margin-top: 6px;
  border-style: solid;
  font-size: 14px;
  color: rgb(64, 59, 59);
}

@media (min-width: 200px) and (max-width: 1000px) {
  .phone_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
  }
  .hamburger {
    position: relative;
    display: block;
    margin-right: 10px;
    width: 40px;
  }
  .logo_container {
    display: block;
    margin-left: 20px;
    width: 50px;
  }
  .navbar_main_container {
    position: relative;
  }
  .list_container {
    flex-direction: column;
  }
  .list_container > p {
    border: solid 1px #1c1c1c;
    padding: 10px;
    margin: 0;
  }
  .list_signup {
    display: none;
  }
  .logo_mini {
    display: none;
  }
  .arrow_down {
    display: none;
  }

  .active {
    display: block;
    flex-direction: column;
    position: absolute;
    margin-top: 350px;
    margin-left: 70vw;
    border: solid 1px #ececee;
    border-bottom: solid 1px #1c1c1c;
    background-color: #ececee;
    min-width: 100px;
    max-width: 200px;
    /* transition: 1s ease-in; */
  }
  .active > .signup_container {
    width: 20%;
    display: block;
    flex-direction: column;
    position: relative;
    margin-left: 5vw;
    margin-right: 33vw;
  }
  .active > .list_container > p.option1:hover {
    background-color: antiquewhite;
  }
  .active > .list_container > p.option2:hover {
    background-color: antiquewhite;
  }
  .active > .list_container > p.option3:hover {
    background-color: antiquewhite;
  }
  .active > .list_container > p.option4:hover {
    background-color: antiquewhite;
  }
  .active > .list_container > p.option5:hover {
    background-color: antiquewhite;
  }
  .active > .signup_container > p.login {
    border: 1px;
    border-radius: 8px;
    padding: 5px;
    border-width: 30px;
    width: 100px;
    background-color: black;
    font-size: 14px;
    color: aliceblue;
    text-align: center;
  }
  .active > .signup_container > p.login:hover {
    box-shadow: 2px 2px 2px rgb(127, 125, 125);
  }
  .active > .signup_container > p.register {
    border: 1px;
    padding: 5px;
    border-width: 30px;
    width: 100px;
    background-color: rgb(95, 95, 95);
    font-size: 14px;
    color: aliceblue;
    text-align: center;
  }
}
